body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer {
  margin-top: 100px;
  color: grey;
}

.legal,
.legal a,
.legal a:visited {
  font-size: 4px;
  color: grey;
  text-decoration: none;
}

.legal a:hover {
  text-decoration: underline;
}

section {
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 159px -55px rgba(0,0,0,0.58);
  -moz-box-shadow: 10px 10px 159px -55px rgba(0,0,0,0.58);
  box-shadow: 10px 10px 159px -55px rgba(0,0,0,0.58);
}

button {
  color: blue;
}

input:not([type="checkbox"]) {
  border: none;
  border-bottom: 1px solid black;
  font-size: 15pt;
  width: 95%;
}

input[type="checkbox"] {
  transform: scale(3);
  margin: 15px;
}