body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
}

.legal {
  font-size: 2px;
  color: grey;
}

section {
  margin: 15px;
}

button {
  color: blue;
}

input:not([type="checkbox"]) {
  border-bottom: 1px solid black;
  font-size: 15pt;
  width: 95%;
}

input[type="checkbox"] {
  transform: scale(3);
  margin: 10px;
}